# Euicc
on post-fs && property:ro.boot.hwc=CN
    # Remove euicc on CN Variant
    mount none /dev/null /product/etc/permissions/privapp-permissions-euiccgoogle.xml bind
    mount none /dev/null /product/etc/permissions/android.hardware.telephony.euicc.xml bind
    mount none /dev/null /product/priv-app/EuiccGoogle/EuiccGoogle.apk bind
    mount none /dev/null /product/app/XiaomiEuicc/XiaomiEuicc.apk bind
